.m-pagenation {
    margin-left: 2rem;
    padding: 1rem;
    .m-pagenation-ul {
        margin: 0;
        display: flex;
        padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
        .m-pagenation-li {
            a {
                color: rgba(0, 0, 0, 0.87);
    height: 32px;
    width: 32px;
    margin: 0 3px;
    padding: 0 6px;
    font-size: 0.875rem;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 16px;
    letter-spacing: 0.01071em;
    display: inline-flex;
    outline: 0;
    border: 0;
    align-items: center;
    position: relative;
    align-items: center;
    user-select: none;
    text-decoration: none;
    justify-content: center;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
            }
            &.active a{
                background-color: rgba(0, 0, 0, 0.08);
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
            a:focus {
                outline: none !important;
                box-shadow: none;
            }
        }
    }
}