<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-4">

      <div class="p-4">
        <div class="mt-1 mb-2 d-flex justify-content-between">
          <button type="button" class="btn btn-outline-primary" (click)="addCategory()"><i
              class="fa fa-plus"></i>&nbsp;Add Category</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteCategory()"><i
              class="fa fa-minus"></i>&nbsp;Delete Category</button>
        </div>

        <div cdkDropList class="example-list mx-auto" (cdkDropListDropped)="drop($event)">
          <div class="example-box" cdkDrag *ngFor="let set of settingList; let i = index;"
            [class.selected]="selectedIndex === i" (click)="selectCategory(set,i)">{{set.title}}
            <div>
              <span *ngIf="set.show" class="badge badge-primary mr-2">ACTIVE</span>
              <span class="badge badge-danger mr-2">{{set.uiType}}</span>
              <span class="badge badge-success">{{set.listType}}</span>
            </div>
          </div>
        </div>
        <button type="SAVE" class="btn btn-sm btn-primary mt-3" (click)="saveOrder()">Save order</button>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          Post Categories
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>

        <div class="card-body" [class.disabled]="selectedIndex === -1">
          <div class="form-group">
            <label for="company">Title</label>
            <input type="text" class="form-control" [(ngModel)]="thisSetting.title"
              placeholder="Enter your company name">
          </div>
          <div class="form-group">
            <label for="vat">Active</label>
            <label class="switch switch-label switch-info d-block">
              <input type="checkbox" class="switch-input" [(ngModel)]="thisSetting.show">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
          <div class="form-group">
            <label for="country">Ui type</label>
            <div class="d-block">
              <ng-select [(ngModel)]="thisSetting.uiType" [items]="['main','twosome','triple','horizontal']"
                [searchable]="false" [clearable]="false"></ng-select>
            </div>
          </div>
          <div class="form-group">
            <label for="country">List type</label>
            <div class="d-block">
              <div class="form-check form-check-inline mr-3">
                <input type="radio" class="form-check-input" id="popular" name="listType"
                  [(ngModel)]="thisSetting.listType" value="popular">
                <label class="form-check-label" for="popular">popular</label>
              </div>
              <div class="form-check form-check-inline mr-3">
                <input type="radio" class="form-check-input" id="recent" name="listType"
                  [(ngModel)]="thisSetting.listType" value="recent">
                <label class="form-check-label" for="recent">recent</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="custom" name="listType"
                  [(ngModel)]="thisSetting.listType" value="custom">
                <label class="form-check-label" for="custom">custom</label>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="thisSetting.listType !== 'custom'">
            <label for="country">Category</label>
            <div class="d-block">
              <div *ngFor="let cat of categoryList" class="form-check form-check-inline mr-3">
                <input type="radio" class="form-check-input" [id]="cat.name" name="uiType"
                  [(ngModel)]="this.thisSetting.categoryId" [value]="cat.id">
                <label class="form-check-label" [for]="cat.name">{{cat.name}}</label>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="thisSetting.listType === 'custom'">
            <label for="country">Custom</label>
            <div>
              <ng-select [items]="searchPostList" (change)="selectPost($event)" bindLabel="label"
                placeholder="Select city" [clearable]="false">
              </ng-select>
              <table class="table table-responsive-sm table-striped">
                <div class="select-list-wrapper">
                  <div class="select-list-item" *ngFor="let post of selectedPostList; let i = index;">
                    <strong class="mr-3">{{post.id}}</strong><span
                      class="mr-3 text-primary">{{post.categoryName}}</span>{{post.title}}
                    <a class="text-danger float-right" (click)="deletePost(post,i)">delete</a>
                  </div>
                </div>
              </table>

            </div>
          </div>

        </div>

        <div class="card-footer">
          <button type="SAVE" class="btn btn-sm btn-primary mr-2" (click)="saveSettings()">Submit</button>
        </div>
      </div>

    </div>
  </div>