.img-2 {
    background-image: url(https://s.pstatic.net/shopping.phinf/20201005_10/ca292c07-6d2c-41c7-bf37-02c4048ed260.jpg?type=f214_292);
}
.notyet-wrapper {
    margin-top: 50%;
    text-align: center;
    font-size: 25px;
    font-family: Jua;
}