// .sidebar-wrapper {
//     //float: right;
//     //width: 300px;
//     height: 100%;
//     //position: absolute;
// 	//right: 0;
//     z-index: 1000;
// }


.profile-image {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.post-side-wrapper {
    .post-side {
        position: relative;
        .post-thumb {
            display: block;
            width: 70px;
            height: 70px;
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            background-position: 50% 50%;
        }
        .post-body {
            margin-left: 90px;
            .bottom-item-wrapper {
                font-size: 11px;
            }
        }
        &:not(:last-child){
            border-bottom: 1px solid #f0f0f0;
            margin-bottom: 20px;
            padding-bottom: 20px;
            min-height: 90px;
        }
    }
}


ul.mn-sidecat-wrapper {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    li {
        position: relative;
        border-bottom: 1px solid #e8e8e8;
        cursor: pointer;
        &:hover {
            border-bottom: 1px solid #000000;
        }
        a {
            position: relative;
    display: block;
    color: #646464;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    font-size: 15px;
    span {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        z-index: 2;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
        }
    }
}

.mn-search-wrapper {
    input {
        border: none;
        background: #f3f3f3;
    &:focus {
        box-shadow: none;
        outline: none;
        z-index: 0;
        border: 1px solid #000000;
    }
    }
}

.side-widget-item {
    padding-bottom: 60px;
    .widget-title {
        margin-bottom: 30px;
        font-size: 16px;
        position: relative;
    }
}
