
    <div class="reply-wrapper" *ngIf="replyList">
    <h3 class="reply-count">{{replyList.length}} Comments</h3>
    <ul class="comment-wrapper">
      <li *ngFor="let reply of replyList" class="comment">
          <h3 class="comment-name">{{reply.user_name}}</h3>
          <p class="comment-meta">{{reply.createdAt | date}} | {{reply.ip}}</p>
          <p class="comment-content">{{reply.content}}</p>
      </li>
    </ul>
    </div>

    <div class="reply-form-wrapper">
      <h3 class="form-title">Leave a comment</h3>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" class="form-control" [(ngModel)]="reply.user_name">
          </div>
        </div>
        <div class="col-4">
          
        <div class="form-group">
          <label for="email">Email *</label>
          <input type="email" class="form-control" [(ngModel)]="reply.email">
        </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="email">Password *</label>
            <input type="email" class="form-control" [(ngModel)]="reply.email">
          </div>
        </div>
      </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="" id="message" rows="5" class="form-control"
          [(ngModel)]="reply.content"></textarea>
        </div>
          <button (click)="saveReply()" class="reply-btn">Post Comment</button>
    </div>
