<div class="animated fadeIn">

    <div class="card">
      <div class="card-header">
        Setting
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-4">
                      <label>Key</label>
                    </div>
                    <div class="col-8">
                      <label>Value</label>
                    </div>
                  </div>
                </div>
                <div *ngFor="let set of settingList; let i = index" class="form-group">
                  <div class="row">
                    <div class="col-4">
                      <input type="text" class="form-control" [(ngModel)]="set.key">
                    </div>
                    <div class="col-7">
                      <input type="text" class="form-control" [(ngModel)]="set.value">
                    </div>
                    <div class="col-1">
                      <button class="btn btn-outline-danger" (click)="deleteSet(i)"><i class="fa fa-close"></i></button>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-primary" (click)="addSet()"><i
                  class="fa fa-plus"></i>&nbsp;Add Category</button>

              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label>Profile description</label>
                  <app-image-upload [imageThumbnail]="profile.image" (upload)="profile.image = $event"></app-image-upload>
                </div>
                <div class="form-group">
                  <label>Profile image</label>
                  <app-editor [(content)]="profile.desciprtion" [height]="400"></app-editor>
                </div>
              </div>
          </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="save()">Submit</button>
      </div>
    </div>




          <!-- <app-table [dataList]="settingList" (rowSelect)="getView($event)" [selectedId]="this.thisSetting.id">
            <app-table-row title="id" [val]="['id']">
            </app-table-row>
            <app-table-row title="제목">
            <ng-template let-row="row" #column>{{row.title}}</ng-template>
          </app-table-row>
          <app-table-row title="로딩 이미지" type="image" [val]="['meta','loadingImage']">
          </app-table-row>
          <app-table-row title="updated" type="date" [val]="['updated_at']">
          </app-table-row>
          <app-table-row title="created" type="date" [val]="['created_at']">
          </app-table-row>
          <app-table-row title="use">
            <ng-template let-row="row" #column>
              <span class="badge badge-primary" [class.badge-secondary]="!row.use">{{row.use ? 'Active' : 'Inactive'}}</span>
            </ng-template> 
          </app-table-row>
          </app-table> -->
          
          
    
  </div>
  